.section1-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 5.75rem;
  background-color: #ffffff;
  border-radius: 30px;
  margin: 20px auto 0px auto;
  padding: 0px 2rem;

  /* position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out; */
}

/* .section1-nav,
.section1-nav-mobile {
  position: sticky;
  top: 0;
  z-index: 1000;
} */

.section1-nav-mobile {
  display: none;
}


.section1-nav-left {
  display: flex;
  justify-content: space-between;
  width: 35%;
  font-weight: 500;
  font-size: 21px;
  color: #314529;
}

.section1-nav-left p,
.section1-nav img {
  cursor: pointer;
}
.section1-nav-mobile .section1-nav-mobile-logo-img {
  object-fit: cover;
}
.section1-nav-mobile-logo-img {
    width:60%;
    height:auto;
  margin-top: 2px;
}
.section1-nav-mobile-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.hamburger-menu {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 12px 0px;
}
.hamburger-menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger-menu-top-logo {
  width: 50%;
  height: auto;
  margin-left: 4%;
}
.hamburger-menu-top-close {
  width: auto;
  height: auto;
  padding-right: 2rem;
}
.hamburger img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 5px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1rem;
}

.mobile-menu > * {
  width: 100%;
  padding: 1rem;
  font-size: 20px;
  font-weight: 700;
  color: #314529;
  padding-right: 0px;
}
.mobile-menu > div > span {
  margin-left: 1rem;
}
.mobile-menu div:hover {
  background-color: #d3fde4;
  border-left: 7px solid #314529;
  padding-left: 0px;
}
.book-button {
  width: 100px !important;
  height: 30px !important;
  padding: 5px !important;
  font-size: 14px !important;
  text-align: center !important;
  line-height: 0px !important;
}
.book-button::after,.book-button::before{
  background: none  !important;
}

.underline-hover{
  position: relative;
 
}

.underline-hover::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  background:  linear-gradient(to right, #aafcd4 0%, #71b185 42%, #5e7a5a 98%); 
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.underline-hover:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media (max-width: 1024px) and (min-width: 821px) {
  .section1-nav {
    width: 90%;
    height: 6.1875rem;
    
  }
  .section1-nav-left{
    font-size: 18px;
    width: 50%;
   
  }
}

@media (max-width: 820px) {
  .section1-nav {
    display: none;
  }
  .section1-nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .hamburger-menu {
    display: block;
  }
}
