.section1-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 77.25rem;
    height: 5.75rem;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin: 20px auto 0px auto;
 

}

.section1-nav-left{
    display: flex;
    justify-content: space-between;
    width: 23.125rem;
    font-weight: bold;
    font-size: 18px;
    color:#314529;
}
.section1-nav-left p, .section1-nav img{
    cursor: pointer;
}


@media (max-width: 1024px) and (min-width: 600px) {
    .section1-nav{
        width: 90%;
        height: 6.1875rem;
        padding: 0px 16px;
    }
}