@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  font-family: "Livvic";
}

.section1 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.section1-div1 {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 8vh;
  padding: 1px 0px;
}

.section1-div1-first {
  color: white;
  text-align: center;
  width: 100%;
  margin: auto;
  font-size: 26px;
  line-height: 33px;
  font-weight: 600;
}

.section1-div1-h1 {
  text-align: center;
  color: #fcfffe;
  font-family: "Bonheur Royale", cursive;
  font-size: 80px;
  font-weight: lighter;
  margin: 0px auto;
}
.section1-div1-first{
  margin-bottom: -1rem;
}
.section1-div1-buttons {
  display: flex;
  justify-content: space-between;
  gap: 17px;
}
.section1-div1-buttons{
  margin-top: 3rem;
}
.section1-image1 {
  position: absolute;
  left: 0px;
  top:9%;
}

.section1-div1-h2-desktop-only, .section1-div1-h2-tablet-only{
  font-family: "Anton";
  color: #fcfffe;
  margin: 0px;
  font-size:80px;
  background: linear-gradient(90deg, #FFE14C 0%, #FFFFFF 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 96px;
}


.no-space {
  display: block;
  margin-top: -12px; 
}


.section1-div1-second {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 54px;
}

.section1-div2 {
  margin: 97px auto;
  margin-bottom: 125px;
  height: 100%;
  position: relative;
}


.artistry-section {
  position: absolute;
  top: 5%;
  left: 43.9px;
  z-index: 3;
  text-align: left;
  color: white;
  display: block;
  
}

.business-section {
  position: absolute;
  bottom:0%;
  left: 523.59px;
  z-index: 3;
  text-align: left;
  color: white;
  
}
.sub-item-holder-business{
  margin-left: 7%;
  margin-top:-1.2rem;
}


.main-title {
  font-family: "Bonheur Royale", cursive; 
  font-size: 124px;
  margin: 0px;
  background: linear-gradient(to right, #F9EEB4 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-item {
  font-size: 35px;
  margin: 0 -10px 0;
  
}
.sub-item-holder{
  margin-top: -8%;
  position: relative;
}

.section1-div2{
  background-image: url("/text-bg.png");
}

.performer-image {
  position: absolute;
  top: 0px;
  left: 117.59px;
  right: 90px;
  bottom: 35px;
  z-index: 1;
}

.section1-small-circle{
  position: absolute;
  top: 14%;
  right: 16.5%;
  z-index: -1;
 
}
.section1-gradient-circle{
 
  position: absolute;
  top: 2%;
  right: -50%;
  z-index:-1;
}

.section1-large-circle{
  position: absolute;
  width:382px;
  height: 382px;
  top: 4%;
  left: -12%;
  z-index: -1;
} 
.section1-gradient-large-circle{
 position: absolute;
  top: -25%;
  right: 50%;
  z-index: -2;

}

.section1-small-circle-2{
  position: absolute;
  bottom:15%;
  left: 22%;
  z-index: -2;
  opacity: 0.70;
}

.section1-gradient-circle-2{
  position: absolute;
  bottom: -20%;
  left: -65%;

  z-index: 1;
}

.artistery-layer{
  position: absolute;
  top: 92%;
  z-index: -1;
}

.business-layer{
  position: absolute;
  top: 92%;
  left: 5%;
  z-index: -1;
}
.section1-div1-h2-tablet-only {
  display: none;
}

.my-gradient{
  position: absolute;
}
.bubble-top-right{
  position: absolute;
  top: 10rem;
}
.section1-large-circle2{
  position: absolute;
  right: -10rem;
  width: 460px;
  height: 460px;
  top: 25rem;
  opacity: 70%;
}
.section1-div1-h2-mobile-only {
  display: none;
}





@media (min-width: 821px) and (max-width: 1024px) {
  .section1-div1-first {
    font-size: 23px;  
  }
  .section1-div1 {
    margin-top: 3rem;
  }
  .confidence{
    display: block;
  }
  .confidence::after {
    content: " .";
    color: white;
  }
  .fstop{
    visibility: hidden;
  }
  .section1-image1 {
    top:9%;
  }
  .section1-large-circle{
    position: absolute;
    top: 20%;
    left: 75%;
    z-index: -1;
    opacity: 0.63;
  }
  .section1-gradient-circle{
    top: -7%;
  }
  .section1-div1-second {
    margin-top: 2.5rem;
  }
.section1-div1-h1{
  font-size: 60px;
}
.section1-div1-h2-desktop-only{
  display: none;
}
.section1-div1-h2-tablet-only {
  display: block;
  font-size: 79px;
  margin-top: 8px;
}
.section1-small-circle-2{
  display: none;
}
.section1-gradient-circle-2{
  display: none;
}
.section1-small-circle{
  display: none;
}
.section1-large-circle2 {
  display: none;
}
}

@media(max-width:820px){
  .section1-image1{
    display: none;
  }
  .section1-gradient-circle-2{
    display: none;
  }
  .section1-gradient-circle{
    display: none;
  }
  .section1-large-circle2{
    display: none;
  }
  .section1-div1-first{
    font-size: 15px;
    line-height:19px;
  }
  .section1-div1-h1{
    font-size: 36px;
  }
  .section1-div1-button1{
    display: none;
  }
  .section1-large-circle{
    display: none;
  }
  .section1-div1{
    margin-top: 1rem;
    padding: 0px 8px;
  }
  .section1-div1-second{
    margin-top: 2.5rem;
  }
  .section1-div1-h2-desktop-only{
    display: none;
  }

  .section1-div1-h2-mobile-only{
    display: block;
    padding: 12px 25px;
    
  }
  .section1-div1-h2-mobile-only *{
    display: block;
    font-family: "Anton";
  color: #fcfffe;
  margin: 0px;
  font-size:50px;
  line-height: 70px;
  background: linear-gradient(90deg, #FFE14C 0%, #FFFFFF 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .section1-small-circle{
    top:12%;
    right: -20%;
    opacity: 80%;
  }
  .section1-div1-button2{
    padding: 12px 25px !important;
    width: 275px !important;
    height: 68px !important;
  }
  .section1-small-circle-2{
    top: 32%;
    opacity: 80%;
    left: -8%;
    width: 88px;
  }
  .section1-div2{
    margin-top: 3rem;
  }
  .main-title {
    font-size: 40px;
  }
  .sub-item{
    font-size: 16px;
    line-height: 15px;
  }
  .artistery-layer,.business-layer{
    width: 73px;
  }
  .performer-image{
    width: 296.81px;
    height: 449.67px;
    left: 20px;
  }
  .connecting-arrow{
    height: 380px;
    top: 10rem;
  }
  .artistry-section{
    left: 0.5rem;
    top: -0.8rem;
  }
  .business-section{
    left: 65%;
    bottom: 5%;
   
  }
  .sub-item-holder-business{
    margin-top: -8px;
    margin-left:12%;
  }
  .sub-item-holder{
    margin-left: 4px;
  }
 
}