@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  font-family: "Livvic";
}

.section1 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.section1-div1 {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 54px;
  margin-top: 18vh;
  padding: 5px 0px;
}

.section1-div1-first {
  color: white;
  text-align: center;
  width: 100%;
  margin: auto;
  font-size: 26px;
  line-height: 33px;
  font-weight: 500;
}

.section1-div1-h1 {
  text-align: center;
  color: #fcfffe;
  font-family: "Bonheur Royale", cursive;
  font-size: 80px;
  font-weight: lighter;
  margin: 0px auto;
}

.section1-div1-buttons {
  display: flex;
  justify-content: space-between;
  gap: 17px;
}

.section1-image1 {
  position: absolute;
  left: 0px;
  top:15%;
}

.section1-div1-h2 {
  font-family: "Anton";
  color: #fcfffe;
  margin: 0px;
  font-size:80px;
  margin-top: 3%;
  background: linear-gradient(90deg, #FFE14C 0%, #FFFFFF 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-space {
  display: block;
  margin-top: -30px; /* Adjust this value as needed */
}


.section1-div1-second {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.section1-div2 {
  margin: 97px auto;
  margin-bottom: 125px;
  height: 100%;
  position: relative;
}


.artistry-section {
  position: absolute;
  top: 5%;
  left: 43.9px;
  z-index: 3;
  text-align: left;
  color: white;
  display: block;
  
}

.business-section {
  position: absolute;
  bottom:0%;
  left: 523.59px;
  z-index: 3;
  text-align: left;
  color: white;
  
}
.sub-item-holder-business{
  margin-left: 7%;
}


.main-title {
  font-family: "Bonheur Royale", cursive; 
  font-size: 124px;
  margin: 0px;
  background: linear-gradient(to right, #F9EEB4 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-item {
  font-size: 35px;
  margin: 0 -10px 0;
  
}
.sub-item-holder{
  margin-top: -8%;
  position: relative;
}

.performer-image {
  position: absolute;
  top: 0px;
  left: 117.59px;
  right: 90px;
  bottom: 35px;
  z-index: 1;
}

.section1-small-circle{
  position: absolute;
  top: 22%;
  right: 16.5%;
  z-index: -1;
}
.section1-gradient-circle{
  position: absolute;
  top: 8%;
  left:45%;

  z-index:-1;
}
.section1-large-circle{
  position: absolute;
  top: 7%;
  left: -15%;
  z-index: -1;
} 
.section1-gradient-large-circle{
 position: absolute;
  top: -25%;
  right: 50%;
  z-index: -2;

}

.section1-small-circle-2{
  position: absolute;
  bottom:15%;
  left: 22%;
  z-index: -2;
}

.section1-gradient-circle-2{
  position: absolute;
  bottom: -20%;
  left: -65%;

  z-index: 1;
}

.artistery-layer{
  position: absolute;
  top: 90%;
  z-index:-1;
}

.business-layer{
  position: absolute;
  top: 94%;

}