@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.section3 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  width: 100%;
  overflow: hidden;
  
}
.section3-top-img {
  margin: auto;
}
.section3-ellipse {
  margin-top: 60%;
}
.section3-profile-img {
  position: absolute;
  top: 4%;
  left: 52.5%;
  transform: translateX(-50%);
}
.section3-heading {
  font-size: 96px;
  font-family: "Anton";
  color: white;
  margin-top: -6.6%;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: center;
}
.section3-first-heading {
  color: #314529;
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
    2px 2px 0 white;
  font-family: "Anton";
}
.section3-second-heading {
  font-family: "Anton";
}

.section3-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 45px auto;
 
}

.workshop-card {
  background-color: #3d6643;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 31px;
  border: 1px solid #f9eeb4;
  color: white;
  width: 550px; 
  height: 250px;
  border-radius: 34px;
}

.icon-container {
  margin-top: 14px;
  margin-left: -5px;
}

.workshop-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2rem;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 1px;
  color: #E9FFF3;
}

.workshop-description {
  font-size: 17px;
  line-height: 24px;
  color: white;
}

.section3-layer {
  position: absolute;
  top: 25.85rem;
  left: 12rem;
  width: 241px;
  height: 85px;
  transform: scaleX(-1);
}

.Section3-button {
  margin: 3% auto;
}

@media (max-width: 768px) {
  .workshops-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1024px) and (min-width: 600px) {
  .section3-profile-img{
    left: 53%;
  }
  .section3-heading {
    font-size: 70px;
  }
  .section3-layer{
    width:217.28px;
    height: 76.6px;
    top: 26.8rem;
  }
  .workshop-card{
    width:400px;
    height: 290px;
    
  }
  .workshop-description{
    font-size: 15px;
    line-height: 20px;
  }
  .workshop-title{
    font-size: 17px;
    line-height: 20px;
  }
}

@media (max-width: 1023px) and (min-width: 600px) {
  .section3-grid{
    grid-template-columns: 1fr;
  }
  .workshop-card{
    width: 550px;
    gap: 20px; 
    height: 200px;
  }
}

@media (max-width: 768px) {
  .section3-grid {
    grid-template-columns: 1fr;
    gap: 0px; 
    margin: 30px auto; 
  }
  .section3-ellipse{
    width: 133px;
    height: 133px;
  }
  .section3-profile-img{
    width: 124px;
    height: 169px;
    top: 2rem;
  }
  .section3-heading{
    font-size: 40px;
    text-align: center;
  }
  .section3-layer{
    width: 88px;
    height: 31px;
    top: 11rem;
    left: 15rem;
    
  }
  .workshop-card{
    width: 70%;
    height: 300px;
    margin:10px auto;
    gap: 25px;
  }
  .workshop-title{
    font-size: 17px;
    line-height: 20px;
  }
  .workshop-description{
    font-size: 12px;
    line-height: 20px;
  }
  .workshop-icon{
    width: 70px;
    height: 70px;
  }
  .Section3-button{
    margin-top: 0px;
  }
  .sec-3-btn{
    padding: 15px 25px;
  }
}


