@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.section7 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.section7-gradient-circle-1 {
  position: absolute;
  top: -60%;
  left: -65%;
  z-index: -2;
}
.section7-gradient-circle-2 {
  position: absolute;
  top: -60%;
  right: -65%;
  z-index: -2;
}
.section7-heading {
  position: relative;
  width: auto;
}
.section7-heading1 {
  font-family: "Bonheur Royale";
  font-size: 76px;
  color: #f9eeb4;
}
.section7-heading2 {
  display: block;
  font-family: "Anton";
  font-size: 100px;
  margin-top: -24px;
}
.section7-heading2-text1 {
  font-family: "Anton";
  color: #314529;
  text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff,
    2px 2px 0 #ffffff;
  letter-spacing: 3px;
}

.section7-heading2-text2 {
  font-family: "Anton";
  color: #ffffff;
  text-shadow: -2px -2px 0 #f9eeb4, 2px -2px 0 #f9eeb4, -2px 2px 0 #f9eeb4,
    2px 2px 0 #f9eeb4;
  letter-spacing: 3px;
}

.section7-signal {
  position: absolute;
  width: 167px;
  height: 59px;
  top: 2.8rem;
  left: 0;
  transform: scaleX(-1);
  z-index: -1;
}

@media (min-width: 821px) and (max-width: 1024px) {
  .section7-gradient-circle-1{
    display: none;
  }
  .section7-gradient-circle-2{
    display: none;
  }
}


@media (max-width: 820px) {
  .section7 {
    padding-top: 12px;
  }
  .section7-gradient-circle-1,
  .section7-gradient-circle-2 {
    display: none;
  }
  .section7-heading1 {
    font-size: 32px;
    line-height: 100px;
  }
  .section7-heading2 {
    font-size: 60px;
  }
  .section7-heading2-text2 {
    text-shadow: none;
  }
  .section7-signal {
    width: 142px;
    height: 22px;
    top: 4.5rem;
    right: -2rem;
  }
}
