.section2-card{
    background-color: #314529;
    border-radius: 31px;
    width: 22rem;
    height:12rem;
    color: white;
    padding: 70px 23px 45px 25px;
    padding-bottom: 66px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.section2-card p{
    margin-bottom: 0;
}
.section2-card-text{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
}

.section2-card-heading{
    text-align: center;
    font-size: 22px;
    font-weight: 900;
}

.section2-card-image{
    position: absolute;
    top:-20%
}

@media (max-width: 768px) {
    .section2-card{
        width: 18rem;
    height: 12rem;
    }
}