@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.section4 {
  background-color: #fffcb3;

  overflow: hidden;
  position: relative;
  width: 100%;
}

.sub-section4 {
  display: flex;
  align-items: center;
 gap:8rem;
  margin: 4rem 7rem;
  position: relative;
}


.section4-heading {
  font-family: "Anton";
  font-size: 100px;
  color: #314529;
  text-shadow:  0px  1px 15px rgba(0, 0, 0, 0.25);
  letter-spacing: 3px;
  font-weight: 400;
  position: relative;
  width: auto;
  z-index: 1;
}

.section4-first-heading {
  color: #f8ffd9;
  font-family: "Anton";
 
  
    text-shadow: 
      -3px -3px 0 #314529,
       3px -3px 0 #314529,
      -3px  3px 0 #314529,
       3px  3px 0 #314529,
       0px  1px 15px rgba(0, 0, 0, 0.25);
}

.section4-second-heading {
  font-family: "Anton";
}

.section4-sub-heading {
  color: #47641c;
  font-size: 30px;
  font-weight: bold;
  font-weight:700;
  line-height: 37px;
}

.next-line {
  display: block;
}

.section4-description {
  color: #314529;
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
  text-align: justify;
}
.section4-btn {
  margin-top: 12%;
  margin-bottom: 2%;
}
.section4-signal{
  width: 241px;
  height: 85px;
  transform: scaleX(-1);
  position: absolute;
  top: -2.5rem;
  left: 0;
  z-index: -1;
}
.sub-section4-img{
  width: 100%;
  height: 100%;
}
.section2-white-bubble{
position: absolute;
left: -1.8rem;
top: 3rem;
}
.section2-white-bubble2{
  position: absolute;
  top: -1rem;
  right: -10rem;
  width: 330px;
  height: 330px;
}
.section2-white-bubble3{
  position: absolute;
  bottom: -12rem;
  left: -10rem;
  
}


@media (max-width: 1024px) and (min-width: 600px) {
  .sub-section4{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  .sub-section4-img{
    width: 300px;
    height: 300px;
  }
  .section4-right-content{
    text-align: center;
  }
  .section4-heading{
    font-size: 70px;
  }
  .section4-description{
    text-align: center;
    line-height: 26px;
  }
  .section4-signal{
    width: 181.82px;
    height: 74.21px;
  }
}
